<h1>Hello, <%=@user.name%>!</h1>

<h2>Your Account Details:</h2>

<table id="table">
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>email</th>
  </tr>
  <tr>
    <td><%=@user.name%></td>
    <td><%=@user.username%></td>
    <td><%=@user.email%></td>
  </tr>

</table>

<%=render partial: 'footer_buttons', locals: {user: @user}%>
