<%if expense.errors.any?%>
<ul>
  <%expense.errors.full_messages.each do |mess|%>
    <li class="warning"><strong><%=mess%></strong></li>
  <%end%>
</ul>
<%end%>

<%=form_for([user, expense]) do |f|%>
  <%=f.label :exp_date, "Date"%>
  <%=f.date_field :exp_date%><br><br>

  <%=f.label :payee%>
  <%=f.text_field :payee%><br><br>

  <%=f.label :exp_amount, "Amount"%>
  <%=f.number_field :exp_amount, class: "currency", step: :any %><br><br>

  <%=f.label :category_name, "Pick from and Exiting Category"%>
  <%=f.collection_select :category_name, Category.all, :name, :name, include_blank: true%><br><br>

  <%=f.fields_for :category_new, expense.build_category do |cat_field|%>
    <%=cat_field.label :name, "Or create a new Category"%>
    <%=cat_field.text_field :name%><br><br>
  <%end%>
  <%=f.submit class: "big_button"%>
<%end%>
