<%if expense.errors.any?%>
<ul>
  <%expense.errors.full_messages.each do |mess|%>
    <li class="warning"><strong><%=mess%></strong></li>
  <%end%>
</ul>
<%end%>

<%=form_for([user, expense]) do |f|%>
  <%=f.label :exp_date, "Date"%>
  <%=f.date_field :exp_date%><br><br>

  <%=f.label :payee%>
  <%=f.text_field :payee%><br><br>

  <%=f.label :exp_amount, "Amount"%>
  <%=f.number_field :exp_amount, class: "currency", step: :any %><br><br>

  <%=f.label :category_name, "Pick from and Exiting Category"%>
  <%=category_selection(f, expense)%><br><br>

  <%=f.label :category_name, "Or add a new Category"%>
  <%=f.text_field :category_name%><br><br>

  <%=f.submit class: "big_button"%>
<%end%>
