<h1>Expenses for <%=@user.name%></h1>

<h2>Filter your Expenses:</h2>

<%=form_tag(user_expenses_path(@user), method: "get") do%>
  <%=label_tag :category%>
  <%=select_tag :category, options_from_collection_for_select(@user.categories.uniq, :id, :name), include_blank: true%>
  <%=label_tag :date%>
  <%=select_tag :date, options_for_select(["Today", "This Month"]), include_blank: true%>
  <%=submit_tag "Filter"%>
<%end%>

<hr> </hr>
<br><br>

<div class="">
  <%=render partial: 'table', locals: {user: @user, expenses:@expenses}%>
</div>

<h2>Total Expenses: <%=number_to_currency(@expenses.sum_total)%></h2>
