<!DOCTYPE html>
<html>
  <head>
    <title>EnvelopeBudgetRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2018 <strong>EnvelopeBudgetRailsApp</strong></small>
      </footer>
    </div>
  </body>
</html>
