<!DOCTYPE html>
<html>
  <head>
    <title>EnvelopeBudgetRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <% flash.each do |name, msg| -%>
        <strong><%= content_tag :div, msg, class: "warning" %></strong>
      <% end -%>

      <%= yield %>
      <% if logged_in? %>
        <div class="footer_buttons">
          <%=button_to "Your Account", user_path(current_user), :method => "get", :class => "big_button"%>
          <%=button_to "Edit Account", edit_user_path(current_user), :method => "get", :class => "big_button"%>
          <%=button_to "Go to Your Expenses", user_expenses_path(current_user), :method => "get", :class => "big_button"%>
          <%=button_to "New Expense", new_user_expense_path(current_user), :method => "get", :class => "big_button"%>
          <%=button_to "Logout", {controller: 'sessions', action: 'destroy', method: 'post'}, :class => "big_button"%>
        </div>
      <%end%>
      <footer class="branding">
        <small>&copy; 2018 <strong>EnvelopeBudgetRailsApp</strong></small>
      </footer>
    </div>
  </body>
</html>
